---
import Container from "../../src/components/container.astro";
import Navbar from "../../src/components/navbar.astro";
import Footer from "../../src/components/footer.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
  </head>
  
  <body>
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>